<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div> <h3>All messages</h3>
    <div>

        {% for message in messages %}
            <div style="display: flex; flex-direction: row; justify-content: flex-start;  text-align: left; border: 1px solid black; width: 60%" >
            <div style="width: 15%;  text-align: left;"> {{ message.time_start }} </div>
            <div style="width: 15%;  text-align: left;"> {{ message.username }} </div>
            <div style="text-align: left;"> {{ message.message }}  {{ message.show }} </div>
            </div>
        {% endfor %}

    </div>
</div>
</body>
</html>